<div class="header">
  <div class="columns">
    <div class="column col-1 col-mr-auto">
      <button id="btn-menu" class="btn btn-primary" (click)="openSidebar()"><i id="btn-menu" class="icon icon-menu"></i></button>
    </div>
    <div class="columns mx-2">
      <div class="column col-4 col-ml-auto">
        <a class="btn btn-secondary mx-2" href="https://github.com/picturepan2/spectre">GitHub</a>
      </div>
      <div class="column col-4 mx-2">
        <a class="btn btn-primary mx-2" routerLink="">home</a>
      </div>
    </div>
  </div>
</div>

<div class="back" *ngIf="router.url != '/summary'">
  <a class="btn btn-back" routerLink="/summary"><i class="icon icon-back"></i></a>
</div>
