<div class="header">
  <div class="columns">
    <div class="column col-2 col-mr-auto">
      <h2 class="text-primary text-center">Spectre.css</h2>
    </div>
    <div class="column col-4 col-ml-auto text-right">
      <a class="btn btn-secondary mx-2" href="https://github.com/picturepan2/spectre">GitHub</a>
      <a class="btn btn-primary mx-2" routerLink="">home</a>
    </div>
  </div>
</div>

<div class="back" *ngIf="router.url != '/summary'">
  <a class="btn btn-back" routerLink="/summary"><i class="icon icon-back"></i></a>
</div>
