<app-navigation></app-navigation>

<div class="container">
  <section class="layout">
    <h2 class="text-primary text-center pb-2"> Layout </h2>
    <div class="columns">
      <div class="column col-5 col-mx-auto tiles">
        <h4 class=""> FlexBox Grid </h4>
        <p> All stuff about Flexbox grid </p>
        <div class="column text-right">
          <a class="btn btn-primary"> go to </a>
        </div>
      </div>
      <div class="column col-5 col-mx-auto tiles">
        <h4 class=""> Responsive </h4>
        <p> Responsive design is important ! </p>
        <div class="column text-right">
          <a class="btn btn-primary"> go to </a>
        </div>
      </div>
    </div>
  </section>
</div>
