/* You can add global styles to this file, and also import other style files */
.offset {
  padding-top: 6rem;
}

.code-tag {
  color: red;
}

.code-class {
  color: green;
}

.code-comment {
  color: gray;
}
